﻿@using Headless.Extensions

@*Check the Sitecore page mode to see if we should render JSON or HTML*@
@if (Sitecore.Context.PageMode.IsNormal)
{
    // Set the response type to JSON 
    Response.ContentType = "text/json";
    
    // define the raw structure of the JSON feed
    @Html.Raw("{")
    
    // render a specific JSON object as a proprety
    @Html.Sitecore().JsonPropertyPlaceholder("bodyContent")

    @Html.Raw(",")


    // render a list of JSON objects as an array
    @Html.Sitecore().JsonArrayPlaceholder("promotions")
    
    @Html.Raw("}")
}
else
{
    // Render the HTML alternative for editing in the experience editor
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title></title>
        </head>
        <body>
            This is the editor view, preview for real look and feel
            <div>
                @Html.Sitecore().Placeholder("bodyContent")
            </div>
            <div>
                @Html.Sitecore().Placeholder("promotions")
            </div>
        </body>
    </html>
}
