﻿@using Headless.Extensions
@model Headless.Model.JsonFeed.BodyContentViewModel
           
@if (Sitecore.Context.PageMode.IsNormal)
{
    @Html.Raw(Model.ToJson())
}
else
{
    <div>
        <label>
            Title:
            @Html.Sitecore().Field("Title")
        </label>
    </div>
    <div>
        <label>
            Body:
            @Html.Sitecore().Field("Body")
        </label>
    </div>
}